<div class="container margin-top">
  <div class="row">
    <div class="col-md-10">
      <h1>Chats</h1>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success" routerLink="/new-chat">Add a new chat</button>
    </div>
  </div>
  <div class="row margin-top">
    <h3 class="col-md-12">Your chats:</h3>
    <table class="table margin-top">
      <thead>
      <tr>
        <th scope="col">Name:</th>
        <th scope="col">View:</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chat of chats">
       <th>{{chat.name}}</th>
        <th>
          <button class="btn btn-dark" [routerLink]="['/chat', chat.name]">Join</button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row margin-top">
    <h3 class="col-md-12">Chats you are invited to:</h3>
    <table class="table margin-top">
      <thead>
      <tr>
        <th scope="col">Name:</th>
        <th scope="col">Join:</th>
        <th scope="col">Decline:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td><button class="btn btn-info">Join</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
